<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 4: Uso Basico Flex (Ejercicio 6.2)</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="auth">
    <div class="contenedor2">
        <h1 class="tittle">MiApp</h1>
        <div class="login-contenedor">
            <h2>Create an account</h2>
            <p>Enter your email to sign up for this app</p>
            <input type="text" placeholder="email@domain.com" class="email">
            <button class="sign-up">Sign up with email</button>
            <p class="alter">or continue with</p>
            <button class="google-button">
                <img src="../assets/icons/Google.png" height= 15px alt="google">Google</button>
            <p class="terms">
                By clicking continue, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
            </p>
        </div>
    </div>
</body>
</html>