<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 4: Uso Basico Flex (Ejercicio 6.1)</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="cuerpo">
    <div class="contenedor">
        <div class="parrafo">
            <h2>Nuestros ingredientes</h2>
            <p>Subheading that sets up context, shares more info about the author 
                author, or generally gets people psyched to keep reading </p>
        </div>
        <img class="banner" src="../assets/images/banner.png" height= 300px width=600px alt="banner">
    </div>    
</body>
</html>