<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 4: Uso Basico Flex (Ejercicio 6.3)</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="contenedores3">
        <h3 class="contactos">Contactos</h3>
        <div class="listaContacto">
            <nav>
                <ul>
                    <li class="name"> <img src="../assets/images/helena.png" alt="User"> Helena</li>
                    <li>email@figmasfakedomain.net</li>
                    <li class="name"><img src="../assets/images/oscar.png" alt="User">Oscar</li>
                    <li>email@figmasfakedomain.net</li>
                    <li class="name"><img src="../assets/images/daniel.png" alt="User">Daniel</li>
                    <li>email@figmasfakedomain.net</li>
                    <li class="name"><img src="../assets/images/jay.png" alt="User"> Daniel Jay Park</li>
                    <li>email@figmasfakedomain.net</li>
                    <li class="name"><img src="../assets/images/mark.png" alt="User">Mark Rojas</li>
                    <li>email@figmasfakedomain.net</li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>