<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 4: Uso Basico Flex (Ejercicio 6.4)</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="posts-container">
        <div class="post">
            <div class="post-header">
                <img src="../assets/images/helena.png" alt="Helena">
                <div>
                    <p>Helena in Group name</p>
                    <p>3 min ago</p>
                </div>
                <div class="post-options">
                    <img src="../assets/icons/More.png" alt="icon">
                </div>
            </div>
            <div class="post-content">
            </div>
            <div class="post-footer">
                <p>Post description</p>
                <div class="post-interactions">
                    <span> <img src="../assets/icons/Heart.png" alt="icon">  2 likes</span>
                    <span> <img src="../assets/icons/Comment.png" alt="icon"> 5 comments</span>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="post-header">
                <img src="../assets/images/daniel.png" alt="Daniel">
                <div>
                    <p>Daniel in Group name</p>
                    <p>5 min ago</p>
                </div>
                <div class="post-options">
                    <img src="../assets/icons/More.png" alt="icon">
                </div>
            </div>
            <div class="post-content">
            </div>
            <div class="post-footer">
                <p>Post description</p>
                <div class="post-interactions">
                    <span><img src="../assets/icons/Heart.png" alt="icon"> 21 likes</span>
                    <span><img src="../assets/icons/Comment.png" alt="icon"> 4 comments</span>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="post-header">
                <img src="../assets/images/oscar.png" alt="Oscar">
                <div>
                    <p>Oscar in Group name</p>
                    <p>10 min ago</p>
                </div>
                <div class="post-options">
                    <img src="../assets/icons/More.png" alt="icon">
                </div>
            </div>
            <div class="post-content">
            </div>
            <div class="post-footer">
                <p>Post description</p>
                <div class="post-interactions">
                    <span><img src="../assets/icons/Heart.png" alt="icon"> 3 likes</span>
                    <span><img src="../assets/icons/Comment.png" alt="icon"> 7 comments</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>